.room_list_body_item {
  width: 100%;

  .item_room {
    margin: 10px;
    border-bottom: solid 1px;

    .room_name {
      display: inline-block;
    }

    .unread_count {
      float: right;
      color: rgb(236, 92, 92);
    }
  }
}
